$yellowColor: #f9bb34;
$pinkColor: #e25cbb;
$greenColor: #69caa9;
$blueColor: #8acdf8;
$brownColor: #cec6ba;
$textColor: #252525;
$textMediumColor: #535353;
$bgColor: #f6f6ec;
$redColor: #b50606;
$whiteColor: #fff;
